 
 
 /*////////////////////// desc exemplo PS-Q18WBF ////////////////////////*/
div#descricao .desc-last-plafons {
    background: #ff0000;
    margin-top: 70px;
    padding: 35px 0 45px 0;
    margin-bottom: 17px;
	  text-align: center;
}
div#descricao .desc-last-plafons h2 {
    font-size: 37px;
    font-weight: 800;
    margin-bottom: 37px;
}

div#descricao .desc-last-plafons h2,div#descricao .desc-last-plafons p {
    color: #fff;
}

div#descricao .desc-last-plafons iframe {
    box-shadow: 0px 0px 70px 4px rgba(0, 0, 0, 0.61);
}

div#descricao .ambientes-desc-prod li.ambientes-desc-prod {
    overflow: hidden;
    margin: 0 4px;
}

div#descricao .ambientes-desc-prod li.ambientes-desc-prod img {
    transition: all 0.8s;
}

div#descricao .ambientes-desc-prod li.ambientes-desc-prod:hover img {
    cursor: pointer;
    transform: scale(1.1);
}

div#descricao .tit-ambientes-desc-prod,div#descricao .tit-detalhes-desc-prod {
    display: block;
    margin-top: 80px;
    margin-bottom: 42px;
    font-family: open sans;
    color: #000;
    font-size: 25px;
    text-transform: uppercase;
    font-weight: 500;
}

div#descricao .topo-descricao-prod .tit-desc-prod {
    background: red;
    display: block;
    padding: 15px;
    text-transform: uppercase;
    color: #fff;
    font-weight: 900;
    font-family: roboto;
    font-size: 25px;
}

div#descricao .imagem-principal-desc-prod {
    position: relative;
}
div#descricao .topo-descricao-prod {
    overflow: hidden;
    display: block;
    text-align: center;
    margin: 0 auto;
    margin-top: 20px;
    width: auto;
}

div#descricao .topo-descricao-prod .sub-tit-detalhes {
    font-family: open sans;
    display: block;
    width: 170px;
    font-weight: 100;
    font-size: 15px !important;
    margin-top: 72px !important;
}
div#descricao div.detalhes-desc-prod img {
    image-rendering: unset !important;
    width: 60px;
    position: absolute;
    left: 56px;
    top: 0;
    transition: all 0.3s;
}

div#descricao div.detalhes-desc-prod li {
    position: relative;
}
div#descricao .topo-descricao-prod ul li {
    display: inline-block;
}

div#descricao .topo-descricao-prod .detalhes-desc-prod {
    margin: 0 auto;
}
div#descricao .tit-ambientes-desc-prod:after, div#descricao .tit-detalhes-desc-prod:after {
    content: '';
    display: block;
    width: 30%;
    text-align: center;
    margin: 0 auto;
    border-bottom: 1px solid red;
}
div#descricao .topo-descricao-prod .detalhes-desc-prod > ul {
    margin: 50px 0 0 0 !important;
}
div#descricao li.detalhes-desc-prod.plafon {
    margin: 0 30px;
}
div#descricao div.detalhes-desc-prod li:hover img {
    width: 78px;
    left: 45px;
    top: -20px;
}
