.pagina-produto .principal .entrega-todo-pais-ilm:before,
.pagina-produto .principal .desconto-a-vista strong:before,
.pagina-produto .veja-quem-recmendou span:before,
.pagina-produto .avaliar-pg-prod .stars-block span:after {
	background: url(https://cdn.awsli.com.br/930/930730/arquivos/sprite_pagina_produto.png);
}
/* sprite pg prod acima */ 

.pagina-produto .breadcrumbs a i.fa.fa-folder:before {
    display: block !important;
    content: "\f015";
    font-size: 20px;
    margin-right: -7px;
    position: relative;
    top: 1px;
    color: #bc2e30;
}

.pagina-produto .breadcrumbs ul > li:first-child a {
    font-size: 0;
    display: inline-block;
}

.pagina-produto .breadcrumbs ul li:first-child {
    height: 26px;
    width: 52px;
}
.pagina-produto .breadcrumbs ul li a {
    text-decoration: none;
}
.pagina-produto  .breadcrumbs ul li:not(:first-child) a {
    color: #BC2E30;
    font-weight: 900;
    font-size: 12px;
    text-transform: uppercase;
    transition: all 0.2s;
}
.info-principal-produto .breadcrumbs ul li:after {
    content: "/";
    margin: 0 5px 0 2px;
}



.pagina-produto .breadcrumbs {
    width: calc(100% + 40px);
    margin-left: -20px;
    margin-top: -31px;
    background: #FFF;
    color: #fff;
    border-bottom: 3px solid #D74D4E;
    overflow: hidden;
    padding-bottom: 12px;
    box-sizing: border-box;
}

.pagina-produto .principal {
    background: #F7F7F7;
    border-radius: 5px;
    padding: 30px 20px 10px;
    border-bottom: 3px solid #CCC;
}

.pagina-produto .produto .principal .acoes-produto {
    margin-top: 15px !important;
    margin-bottom: -12px
}



.pagina-produto .principal .nome-produto {
    padding-top: 13px;
    color: #797979;
    font-size: 18px;
    font-weight: 700;
    padding-bottom: 20px;
    border-bottom: 1px solid #D0D0D0;
    padding-right: 26px;
    position: relative;
}



.listagem .listagem-item .preco-produto .preco-a-partir .preco-venda, .pagina-produto .principal .preco-produto .preco-promocional {
    letter-spacing: -1px
}

.pagina-produto .produto .tag-produto {
    margin-top: 13px;
    margin-left: 0
}

.pagina-produto .principal .preco-produto .preco-promocional {
    font-size: 32px !important
}

.pagina-produto .acoes-produto .preco-promocional:before {
    content: "por";
    font-size: 20px;
    font-weight: 600;
    color: #D74D4E;
    letter-spacing: 0
}

.pagina-produto span.preco-parcela {
    font-size: 15px !important;
    margin: 0;
    line-height: 18px
}

.pagina-produto .principal .preco-produto .preco-venda:before {
    content: "De";
    display: inline-block;
    font-size: 17px;
    font-weight: 600
}

.pagina-produto .principal .preco-produto .preco-venda {width: 100%;padding-bottom: 10px;font-size: 17px !important;font-weight: 600 !important;height: 13px;display: block;}

.pagina-produto .botao.grande {
    background-color: #34AF6F !important;
    font-family: roboto;
    font-weight: 600;
    width: 220px;
    font-size: 21px;
    padding: 13px !important;
    border-bottom: 3px solid #25945B !important;
    text-transform: uppercase;
    border-radius: 7px;
    margin-left: 0
}

.pagina-produto .botao.grande:hover {
    background-color: #25945B !important;
    transition: all .4s ease-in-out
}

.parcelas-produto .accordion .accordion-group .accordion-body .accordion-inner ul li span {
    font-size: 13px;
    font-weight: 600
}

.principal .parcelas-produto .accordion {
    background: #fff
}

.pagina-produto .acoes-flutuante .acoes-produto .comprar {
    text-align: center;
    margin: inherit !important
}

.pagina-produto .acoes-produto .comprar {
    text-align: center;
    margin-top: 17px;
}

.comprasegurap {
    margin-top: 5px
}

.pagina-produto .produto .codigo-produto .trustvox-stars div, .produto .acoes-flutuante .comprasegurap {
    display: none
}

.produto .codigo-produto {
    font-size: 11px;
    padding: 15px 0 14px 0px;
}

.produto .mais-info-prod {
    font-size: 12px;
    font-weight: 600;
}

.produto .mais-info-prod a {
    font-weight: 600;
    color: #858585;
    margin-top: 2px;
    display: block;
}

.pagina-produto .acoes-flutuante .acoes-produto .desconto-a-vista {
    font-size: 0
}

.pagina-produto .acoes-flutuante .acoes-produto .desconto-a-vista strong {
    margin-top: 6px;
    margin-bottom: 10px;
    display: inline-block;
    font-family: Open Sans;
    font-weight: 900;
    font-size: 21px;
    color: #FF8600;
    letter-spacing: -1px
}

.pagina-produto .acoes-flutuante .acoes-produto .desconto-a-vista strong:after {
    content: "no boleto";
    font-size: 12px;
    color: #FF8600;
    margin-left: 5px
}



.pagina-produto .acoes-flutuante .acoes-produto .botao.grande {
background-color: #34AF6F !important;
font-family: roboto;
font-weight: 600;
width: 160px;
font-size: 21px;
padding: 13px !important;
border-bottom: 3px solid #25945B !important;
text-transform: uppercase;
border-radius: 7px;
margin-left: 0
}

.pagina-produto .acoes-flutuante .acoes-produto .botao.grande:hover {
background-color: #15673D !important
}

.pagina-produto .acoes-flutuante .nome-produto {
    font-family: Roboto;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 13px;
    width: 260px;
    line-height: 18px
}

.pagina-produto .acoes-flutuante .acoes-produto span.preco-parcela {
font-size: 12px !important;
margin-top: 5px
}

.pagina-produto .breadcrumbs ul li:first-child * {
text-transform: inherit
}

.pagina-produto .principal .desconto-a-vista {font-size: 0;overflow: hidden;display: block;width: 100%;}

.pagina-produto .principal .desconto-a-vista strong {
    border-top: 1px solid #DFDFDF;
    border-bottom: 1px solid #DFDFDF;
    padding-bottom: 13px;
    width: 100%;
    padding-top: 8px;
    margin-top: 25px;
    margin-bottom: 00px;
    display: inline-block;
    font-family: Open Sans;
    font-weight: 900;
    font-size: 23px;
    color: #FD8942;
    letter-spacing: -1px;
}


.pagina-produto .abas-custom .tab-content {
box-shadow: none;
padding: 0
}

.pagina-produto .abas-custom .tab-content:nth-child(2) {
display: none
}

.produto>.row-fluid:first-child {
padding-bottom: 90px
}

.pagina-produto .tab-content>.active, .pill-content>.active {
border: none;
padding: 0;
border-top: 0;
display: block
}

.pagina-produto.produto .tag-produto {
margin-top: 15px;
margin-left: 0
}

.pagina-produto .listagem h4.titulo.cor-secundaria {
content: "DESCRIÇÃO";
font-family: 'Francois One', sans-serif;
font-weight: 400;
display: block;
box-shadow: none;
border-bottom: 1px solid #D6D6D6;
border-top: 2px solid #E24546;
padding-top: 17px;
padding-bottom: 14px;
text-transform: uppercase;
font-size: 21px;
padding-left: 30px;
letter-spacing: -.5px;
color: #E24546;
margin-bottom: 0 !important
}

.listagem.aproveite-tambem {
border: 1px solid #D6D6D6;
border-top: none
}


.pagina-produto .fundo-principal.bandeira-promocao {
margin-top: 10px;
margin-left: -10px
}

.pagina-produto .listagem .preco-produto .preco-promocional {
    font-size: 22px !important
}

.pagina-produto .listagem span.preco-parcela {
    font-size: 12px !important
}

.pagina-produto .listagem .preco-produto .preco-venda {
    font-size: 13px !important;
    float: none;
    margin-right: 5px !important
}

.pagina-produto .listagem .preco-produto .preco-venda {
margin: 0
}



.pagina-produto .breadcrumbs ul {
display: flex;
align-items: center;
}

.pagina-produto .breadcrumbs ul li a:hover, .breadcrumbs ul li a:hover i:before {
color: #e72428 !important;
}




.pagina-produto .listagem.aproveite-tambem .pagina-produto .listagem .listagem-linha>ul {
    margin: 0 !IMPORTANT;
}

.pagina-produto .listagem.aproveite-tambem .listagem-linha:first-child {
    padding-top: 0;
}

.pagina-produto .listagem.aproveite-tambem .listagem-linha>ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.pagina-produto .listagem.aproveite-tambem .listagem-linha>ul > li {
    width: 100%;
    display: block;
    margin: 0 auto;
    padding: 0px 12px;
    box-sizing: border-box;
}

.pagina-produto .avaliar-pg-prod {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px 0 0 0;
}

.pagina-produto .avaliar-pg-prod .stars-block span {
    font-size: 13px;
    color: #828282;
    font-weight: 700;
    letter-spacing: -.3px;
    position: relative;
    top: -2px;
}

.pagina-produto .principal .desconto-a-vista strong:before {
	content: "";
	width: 37px;
	position: relative;
	text-align: left;
	font-size: 0;
	line-height: 48px !important;
	height: 27px;
	display: inherit;
	color: #656363;
	margin-left: 0;
	background-position: -6px -36px !important;
	top: 6px;
}
.pagina-produto .principal .entrega-todo-pais-ilm:before {
    content: "";
    height: 18px;
    float: left;
    margin-right: 8px;
    position: relative;
    top: 3px;
    width: 21px;
    margin-bottom: 12px;
    background-position: -13px -8px !important;
}
.pagina-produto span.desc-boleto {
	font-size: 18px;
	color: #373635;
	font-weight: 600;
	height: 33px;
}
.pagina-produto span.desc-boleto span.b-txt {
    font-size: 18px;
    color: #343434;
    margin: 0px 10px 0 9px;
    font-weight: 800;
}
.pagina-produto span.desc-boleto span.txt-color {
    color: #d74142;
}
.pagina-produto span.desc-boleto span.preco {
    font-weight: 900;
    font-size: 22px;
    margin-left: 7px;
    color: #FD8942;
}
.pagina-produto .avaliar-pg-prod .stars-block span:after {
    content: "";
    background-position: -95px -10px !important;
    width: 103px;
    height: 18px;
    display: inline-block;
    position: relative;
    top: 5px;
    margin-left: 7px;
}


.pagina-produto .veja-quem-recmendou span {
    font-size: 13px;
    font-weight: 800;
    color: #d74d4e;
    letter-spacing: -.8px;
    display: flex;
    align-items: center;
}

.pagina-produto .veja-quem-recmendou span:before {
    content: "";
    background-position: -52px -4px !important;
    width: 23px;
    height: 21px;
    display: inline-block;
    margin-right: 7px;
    position: relative;
    top: -2px;
}



.pagina-produto .veja-quem-recmendou span:after {
    content: "\f078";
    font-family: FontAwesome;
    font-weight: 100;
    margin-left: 4px;
    font-size: 11px;
    position: relative;
    top: 1px;
}

.pagina-produto .acoes-produto .preco-produto {
    width: 100%;
    overflow: hidden;
}

.produto .acoes-produto .comprar span {
    display: none !important;
}

.pagina-produto .principal .entrega-todo-pais-ilm span {
    font-size: 13px;
    color: #2e2e2e;
}
.pagina-produto .principal .entrega-todo-pais-ilm .ds-block {
    display: block;
    color: #8f8f8f;
}
.pagina-produto .principal .entrega-todo-pais-ilm {
    margin-bottom: 25px;
}

.pagina-produto .breadcrumbs ul li:after {
    margin: 0 0 0 0px !important;
    content: "\f101" !important;
    padding: 3px 5px 0 11px;
    font-family: FontAwesome;
    font-size: 19px;
    color: #ca2426 !important;
    position: relative;
    top: 2px;
    font-weight: 500;
}
.pagina-produto .breadcrumbs ul li:last-child:after {
    display: none !important;
}

.pagina-produto .quantidade-variacoes-ILM li a {
    color: red;
    font-weight: 700;
	  display: block;
    font-size: 12px;
	text-decoration: none;
}

.pagina-produto .quantidade-variacoes-ILM ul {
    margin: 15px 0 35px 0;
}

.pagina-produto .quantidade-variacoes-ILM li {
    margin-right: 9px;
    background: #fff;
    border: 2px solid #fff;
    border-radius: 50px;
    display: inline-block;
    width: 45px;
    height: 45px;
    line-height: 45px;
    text-align: center;
    box-shadow: 0 1px 0 0 rgba(0, 0, 0, .3);
		transition: all 0.2s;
}
.pagina-produto .quantidade-variacoes-ILM li:hover {
    box-shadow: rgba(245, 0, 0, 0.58) 1px 1px 0px 0px;
}




           
.pagina-produto .principal a.lista-favoritos, 
.pagina-produto .acoes-flutuante .lista-favoritos {
    width: 25px;
    height: 25px;
    position: absolute;
    display: block;
    right: 0;
    top: calc(50% - 16.5px);
    font-size: 0;
    background: none !important;
}

.pagina-produto .principal {
    position: relative;
}

.pagina-produto .principal a.lista-favoritos i:before, 
.pagina-produto .acoes-flutuante a.lista-favoritos i:before{
    color: #D83F3F;
    content: "\f08a" !important;
    font-size: 24px;
}

.pagina-produto .principal a.lista-favoritos:hover i:before,
.pagina-produto .acoes-flutuante a.lista-favoritos:hover i:before {
    content:"\f004" !important;
}

.pagina-produto .acoes-flutuante .lista-favoritos {
    top: 7px !important;
    right: 7px !important;
}