/* SPRITE PAG BUSCA E CATEGORIA */
.avaliacoes-clientes .imagem-cliente:before,
.avaliacoes-clientes span.titulo-depoimentos b:before,
.avaliacoes-clientes span.logo-ra-trust:before{
    background: url(https://cdn.awsli.com.br/930/930730/arquivos/sprite_pagina_categoriav2.png);
}
/**/

.menu.lateral:not(.outras) > .nivel-um > li > a {
    border: none !important;
}
.menu.outras a:hover {
    background: #af3c3f !important;
}
.menu.outras a {
    background: #a2373a !important;
    border-bottom: 1px solid #892c2e;
}

.menu.lateral ul.nivel-dois li {
    background-color: #E9E9E9;
    height: 41px;
    border-radius: 0;
    padding: 0;
    border-top: 0;
}
.menu.lateral .nivel-dois {
    padding: 0;
    box-shadow: none !important;
}
.menu.lateral .nivel-dois a {
    color: #494949;
    font-size: 11px;
    font-weight: 700;
    text-align: left;
    text-transform: uppercase;
    padding: 1px 0 0 23px;
    margin: 0 !important;
    transition: all 0.3s;
    border-right: 1px solid rgba(139, 139, 139, .27);
    border-left: 1px solid rgba(139, 139, 139, .27);
}
.menu .nivel-tres {
    box-shadow: none !important;
}
.menu .nivel-tres a {
    padding-left: 15px !important;
    padding-right: 15px !important;
    border-left: 0 !important;
}
.menu.lateral .nivel-dois .com-filho > a:after {
    content: "\f054";
    font-family: FontAwesome;
    font-weight: 100 !important;
    font-size: 10px !important;
    position: relative;
    float: right;
    margin-right: 15px;
}
.menu.lateral li:hover > a {
    background: #af3c3f;
    color: #fff;
    border-color:#af3c3f;
}
.menu.lateral:not(.outras) {
    margin-bottom: 0;
}
.menu.lateral:not(.outras)  > .nivel-um > li > a strong {
    display: block;
    color: #fff;
    font-size: 12px;
    font-weight: 700;
    position: relative;
    transition: all 0.3s;
    margin: 0;
}
.menu.lateral:not(.outras) > .nivel-um > li > a {
    padding-top: 12px !important;
}
.menu.lateral:not(.outras) > .nivel-um > li > a:before {
    top: 3px;
}
.menu.lateral .title-category > a {
    background: #ef2729 !important;
    color: #fff !important;
    box-shadow: inset 0px -2px 0px #af2325;
    font-size: 12px !important;
    display: block;
    overflow: hidden;
}







.input-append .filtro-ativo:hover a {
    color: #fff !Important;
}
.input-append .filtro-ativo a{
    background: #a53233;
    color: #fff !important;
    border-radius: 4px;
}


 .listagem-linha .span3 {
    border: none !important;
    margin: 0;
    margin-left: 17px;
}
 .listagem-linha > ul {
    margin: 0;
}
 .listagem .listagem-item .nome-produto {
    width: 100% !important;
    text-align: left;
}
 .listagem-item {
    padding: 20px 10px !important;
}
 .preco-produto .preco-venda {
    font-weight: 700;
    font-size: 12px;
}
 .listagem-item .desconto-a-vista strong {
    font-size: 19px !important;
}

 .preco-produto .preco-promocional {
    font-size: 19px !important;
}
 .listagem .info-produto {
    text-align: left !important;
}
 .listagem-item a.produto-sobrepor:after {
    width: 186px !important;
    left: calc(50% - 94px) !important;
    height: 48px !important;
    font-size: 21px !important;
}
 .componente {
    background: #f7f7f7;
}
 .componente .titulo {
    color: #bc2e30;
}
 .conteudo h1 {
    display: none !important;
}

 ul.dropdown-menu.pull-right {
    display: block !important;
    position: inherit;
    width: 573px;
    padding: 2px 1px 3px 7px;
    box-shadow: none;
    border: 0;
    border-radius: 3px;
    z-index: 9;
    background-color: rgba(255, 255, 255, 0) !important;
    left: 0;
    margin: 0;
}
 button#botaoOrdenar {
    display: none;
}
.ordenar-listagem label {
    display: none !important;
}
 ul.dropdown-menu.pull-right li {
    float: left;
    margin-right: 7px;
    border-right: 1px solid #ddd;
    padding-right: 10px;
}

 .dropdown-menu>li>a {
    display: initial;
    box-shadow: none;
    font-weight: 700;
    color: #BC2E30;
    padding: 6px 6px;
    text-transform: uppercase;
    font-size:12px;
}
 .dropdown-menu>li:not(.filtro-ativo)>a:hover {
    color: #666 !important;
    background: 0 0;
    box-shadow: none;
}

 .input-append {
    width: auto;
    border: 1px solid #ddd !important;
    border-radius: 4px !important;
    padding: 5px 0px 4.5px 0!important;
    overflow: hidden;
}

 ul.dropdown-menu.pull-right li:last-child {
    border: 0 !important;
    padding: 0 !important;
}

 .dropdown-menu>li>a>i {
    margin-left: 1px !important;
}

 ul.dropdown-menu.pull-right li:first-child a {
color: #666 !important;
}
 .ordenar-listagem.topo {
    margin-top: 15px;
    padding-bottom: 15px;
}
.menu.lateral:not(.outras):before {
    content: "CATEGORIAS";
}
 .lateral.outras.faceta-preco:before {
    content: "FILTRAR POR PREÇO";
}
.lateral.outras.faceta-cor:before {
    content: "FILTRAR POR COR";
}

.menu.lateral:not(.outras):before, .lateral.outras.faceta-preco:before,.preco_personalizado:before, .lateral.outras.faceta-cor:before {
    font-weight: 400;
    display: block;
    padding-top: 9px;
    padding-bottom: 8px;
    border-left: 1px solid #D8D8D8;
    border-right: 1px solid #D8D8D8;
    font-size: 19px;
    padding-left: 30px;
    color: #b73334;
    font-family: 'Francois One', sans-serif;
    border-top: 2px solid #b73334;
    letter-spacing: -.5px;
    text-transform: uppercase;
}


/*filtros*/
.filtro h4 {
    font-size: 0 !important;
    display: block !important;
    padding: 0px !important;
    margin: 0 !important;
    border: none !important;
    height: 0 !important;
}
.filtro {
    box-shadow: none;
    outline: #d7d7d7 solid 1px;
    padding: 20px;
    margin-left: 1PX;
    border-top: 0 !important;
    box-sizing: border-box;
    margin-right: 1px;
}
.filtro.lista ul li label {
    padding: 8px 10px;
    color: #777;
    font-size: 13px;
    font-weight: 600;
    transition: all 0.2s;
}
.filtro.lista ul {
    min-height: max-content !important;
    margin-bottom: 0;
}
.filtro.lista ul li label:hover {
}
.fundo-principal, .botao.principal, .botao.principal:hover, .menu li:hover > a .fundo-secundario, .flex-control-paging li a.flex-active, .dropdown-menu > li > a:hover, .filtro.lista ul li label:hover, .filtro.lista ul li.active label, .menu-simples li a:hover, .menu-simples li.active a {
    background-color: #af3c3f;
}

.filtro.lista ul li a {
    text-decoration: none;
    display: block;
}
/* filtro preco */
.preco_personalizado .input_price::-webkit-inner-spin-button { 
    display:none !important;
}

.preco_personalizado:before {
    content: "FILTRO PERSONALIZADO";
}
.preco_personalizado {
    border-right: 1px solid #d8d8d8;
    border-left: 1px solid #d8d8d8;
    border-bottom: 1px solid #d8d8d8;
}
.preco_personalizado .wrap_preco {
    padding: 15px 10px;
}
.preco_personalizado input.input_price {
    margin: 0 !important;
    width: 46.7px;
    border-radius: 0 !important;
    box-shadow: none !important;
    border-color: #eaeaea !important;
    font-weight: 700;
    color: #444 !important;
    height: 17px;
    padding: 4px 1px;
    text-align: center;
    font-size: 12px;
}
.preco_personalizado span.fim_block,span.cifrao_preco {
    display: inline-block;
    background: #eaeaea;
    padding: 6px 5px;
    box-sizing: border-box;
    vertical-align: middle;
    font-size: 11px;
    font-weight: 700;
}
.preco_personalizado span.cifrao_preco {
    color: #E24546;
}
.preco_personalizado span.fim_block {
    color: #929292;
}

.preco_personalizado .button_enter {
    float: right;
    display: inline-block;
    background: #a73739;
    padding: 0px 10.8px;
    box-sizing: border-box;
    vertical-align: middle;
    font-size: 10px;
    font-weight: 700;
    cursor: pointer;
    color: #fff;
    transition: all 0.3s;
    height: 27px;
    line-height: 27px;
    text-transform: uppercase;
}
.preco_personalizado span.cifrao_preco > b {
    font-size: 10px;
    color: #444;
    font-weight: 600;
    margin-right: 2px;
}
.preco_personalizado .button_enter:hover {
    background: #da2023;
}
.filter_personalizado_active .lateral.outras.filtro-coluna.faceta-preco {
    display: none !important;
}
.preco_personalizado a.filter_limpar {
    margin-top: 10px !important;
    margin-left: 0px !important;
    background: #a73739 !important;
    padding: 4px 6px !important;
    color: #fff !important;
    font-weight: 700 !important;
    font-size: 12px !important;
    display: block;
    width: 70px;
    text-align: center;
}
.preco_personalizado a.filter_limpar:before {
    content: "\f0e2";
    font-family: FontAwesome;
    margin-right: 4px;
}
.preco_personalizado input.preco_cliente_min.input_price+span {
    margin-right: 3px;
}

.preco_personalizado:before {
    border-bottom: 1px solid #d8d8d8;
    border-right: 0 !important;
    border-left: 0 !important;
}

/* mais buscados*/
/*/ categoria que era ativa  /*/
.ordenar-listagem.rodape {
    border: none !important;
}

.box-palavras-chaves .conteiner {
    box-sizing: border-box;
    padding-left: 0px !important;
}

.box-palavras-chaves {
    padding-bottom: 30px;
    overflow: hidden;
}
.box-palavras-chaves .palavras-buscadas ul {
    margin-left: 50px;
    margin-right: 25px;
}

.box-palavras-chaves .palavras-buscadas ul a {
    color: #666;
    letter-spacing: -.2px;
    padding: 0px 0px;
    display: block;
}
.box-palavras-chaves .palavras-buscadas {
    display: flex;
}

.box-palavras-chaves ._wrap-bus-pl {
    display: table;
    margin: 0 auto;
}
.box-palavras-chaves strong.text-center {
    display: block;
    text-align: center;
    padding: 0px 0;
    margin-bottom: 23px;
}

.box-palavras-chaves strong.text-center > span {
    text-align: center;
    color: #666;
    font-size: 18px;
    text-transform: uppercase;
    background-color: #fff;
    position: relative;
    top: 10px;
    padding: 0 20px;
    letter-spacing: -1px;
}

.box-palavras-chaves strong.text-center {
    border-bottom: 2px solid #c9c9c9;
}
.box-palavras-chaves > .conteiner {
padding-top: 0 !important;
padding-bottom: 0 !important;
padding-right: 0 !important;
}

/* paginacao */
.ordenar-listagem .pagination ul>li a {
    padding-left: 10px !important;
    padding-right: 10px !important;
}
.ordenar-listagem .pagination ul>li a {
    padding-top: 8px;
    padding-bottom: 7px;
    color: #666 !important;
    font-weight: 600;
}
.pagination .icon-double-angle-left:before {
    content: "Anterior";
    font-family: 'roboto';
}
.pagination .icon-double-angle-right:before {
    content: "Próxima";
    font-family: 'Roboto';
}

/* css trust vox */
.avaliacoes-clientes .slick-initialized .slick-prev:before{
    content: "\f104" !important;
    left: 9px;
}
.avaliacoes-clientes .slick-initialized .slick-next:before {
    content: "\f105" !important;
    left: 11px;
}
.avaliacoes-clientes .slick-initialized .slick-prev, .avaliacoes-clientes .slick-initialized .slick-next{
    z-index: 99;
    border: 3px solid #b4b4b4;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    opacity: 1 !important;
    transition: all 0.2s;
 }

.avaliacoes-clientes .slick-initialized .slick-prev:before,
.avaliacoes-clientes .slick-initialized .slick-next:before {
    font: normal normal normal 14px/1 FontAwesome;
    color: #b4b4b4;
    font-size: 37px!important;
    position:absolute;
    opacity: 1;
    z-index: 9999;
    transition: all 0.2s;
}
.avaliacoes-clientes .slick-initialized .slick-next,.avaliacoes-clientes .slick-initialized .slick-next {
    right: -50px;
}
.avaliacoes-clientes .slick-initialized .slick-prev:before,.avaliacoes-clientes .slick-initialized .slick-next:before {
    top: -2.5px;
}
.avaliacoes-clientes .slick-initialized .slick-prev {
    left: -50px;
}
.avaliacoes-clientes .slick-initialized .slick-prev:hover, .avaliacoes-clientes .slick-initialized .slick-next:hover {
    border-color: #f00;
}
.avaliacoes-clientes .slick-initialized .slick-prev:hover:before, .avaliacoes-clientes .slick-initialized .slick-next:hover:before {
    color: #f00 !important;
}
.avaliacoes-clientes .slick-dotted.slick-slider {
    margin-bottom: 0 !important;
}


.avaliacoes-clientes .caixa-depoimento {
    border: 1px solid #f4f4f4;
    padding: 20px 60px;
}
.avaliacoes-clientes .conteiner {
    padding: 0;
    overflow: hidden;
}

.avaliacoes-clientes .autenticado-trustvox span {
    color: #666;
    font-size: 13px;
    vertical-align: middle;
}
.avaliacoes-clientes span.logo-ra-trust {
    display: inline-block;
}
.avaliacoes-clientes span.logo-ra-trust:before {
    content: "";
    background-position: -89px 0 !important;
    width: 88px;
    height: 18px;
    display: block;
}
.avaliacoes-clientes .autenticado-trustvox {
    float: right;
    display: block;
    margin-top: 10px;
}

/* setinha hover depoimentos */
.avaliacoes-clientes .depoimento-completo.flutuante:after {
    content: '\f0d7';
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    text-decoration: inherit;
    -webkit-font-smoothing: antialiased;
    position: absolute;
    bottom: -21px;
    color: #ff4040;
    font-size: 34px;
    left: 40px;
}



.avaliacoes-clientes .imagem-cliente:before {
    width: 84px;
    display: block;
    content: "";
    background-position: -1px 1px !important;
    height: 108px;
}
.avaliacoes-clientes span.titulo-depoimentos b:before {
    content: "";
    background-position: -88px -18px !important;
    width: 29px;
    height: 44px;
    display: inline-block;
    position: absolute;
    left: 0;
    top: -6px;
}
.avaliacoes-clientes span.titulo-depoimentos b {
    color: #f00;
    font-size: 19px;
    display: table;
    text-transform: uppercase;
    margin: 0 auto;
    padding-left: 40px;
    position: relative;
}
.avaliacoes-clientes span.titulo-depoimentos {
text-align: center;
    display: flex;
    margin-bottom: -4px;
    font-family: 'Open Sans';
    font-size: 16px;
    color: #444444;
    height: 46px;
    align-items: center;
}


/* ajustes hover depoimento */
.avaliacoes-clientes .item-depoimento {
    overflow: hidden;
    padding: 12px 10px;
    border: 1px solid #f4f4f4;
    border-radius: 5px;
    margin: 0 5px;
    display:flex!important;
    outline:none!important;
}

.avaliacoes-clientes .depoimento-completo {
    position: absolute !important;
    width: 0% !important;
    margin-top: 10px;
    background: #fff;
    color: transparent;
    padding: 12px 20px;
    border-radius: 10px;
    display:none;
    height: 37px;
}

.avaliacoes-clientes .depoimento-completo.flutuante {
    position: absolute !important;
    width: 718px !important;
    background: #ff4040;
    color: #fff;
    margin-top: -73px;
    font-size: 13px;
    font-weight: 600;
}

/*/ CORES E TAMANHOS FONTES DEPOIMENTOS E IMAGENS /*/
.avaliacoes-clientes .imagem-cliente {
    position: relative;
    z-index: 1111;
    float: left;
}

.avaliacoes-clientes .conteudo-cliente {
    float: left;
    width: 172px;
    margin-left: 15px;
}
.avaliacoes-clientes span.nome-cliente {
color: #ff0000;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: -1px;
    display: -webkit-box;
    max-height: 3.2rem;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    -webkit-line-clamp: 1;
    height: 26px;
}
.avaliacoes-clientes span.cidade-cliente {
    color: #666666;
    display: block;
    margin-bottom: 8px;
    font-size: 13px;
}
.avaliacoes-clientes span.depoimento-curto {
    color: #666666;
    font-size: 13px;
    display: -webkit-box;
    max-height: 3.2rem;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    -webkit-line-clamp: 3;
    height: 56px;
}