
 .exit_popup_personalizado {
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: 999999999;
	background: rgba(0, 0, 0, .55);
	top: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	opacity: 0;
	transition: all .2s;
	visibility: hidden
}

.exit_popup_personalizado.__open {
	opacity: 1!important;
	visibility: visible!important
}

.exit_popup_personalizado .content-popup {
	margin: -40px auto 0 auto;
	display: flex;
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, .45);
	background: #040402
}

.exit_popup_personalizado .content-popup .header-popup span.title-popup {
	font-size: 35px;
	display: block;
	font-weight: 800;
	text-transform: uppercase;
	color: #d50808
}

.exit_popup_personalizado .content-popup:before {
	content: url(https://cdn.awsli.com.br/257/257163/arquivos/banner-pop-up-oferta-1566000549718.png);
	height: 481px
}

.exit_popup_personalizado .wrap-popup {
	background: #fff;
	padding: 25px 25px;
	box-sizing: border-box;
	width: 500px;
	position: relative
}

.exit_popup_personalizado .content-popup .header-popup span.title-popup-p {
	font-size: 17px;
	font-weight: 600
}

.exit_popup_personalizado .wrap-popup .header-popup {
	text-align: center;
	margin-bottom: 22px
}

.btn-close-popup-personalizado {
	font-size: 40px;
	position: absolute;
	right: 13px;
	top: -7px;
	color: #d50808;
	cursor: pointer;
	transition: all .3s
}

.btn-close-popup-personalizado:hover {
	color: #8a190c
}

.exit_popup_personalizado .carrousel-popup-personalizado.owl-loaded.owl-drag .owl-item {
	float: left
}

.exit_popup_personalizado .carrousel-popup-personalizado.owl-loaded.owl-drag .owl-stage-outer {
	display: block;
	overflow: hidden
}

.exit_popup_personalizado .wrap-popup .carrousel-popup-personalizado {
	position: relative
}

.exit_popup_personalizado .wrap-popup .carrousel-popup-personalizado .owl-nav {
	position: absolute;
	width: 100%;
	top: calc(50% - 23px);
	display: flex;
	justify-content: space-between;
	height: 0
}

.exit_popup_personalizado .wrap-popup .carrousel-popup-personalizado .owl-dots {
	display: none!important
}

.exit_popup_personalizado .wrap-popup .carrousel-popup-personalizado .listagem-item {
	padding: 18px 20px;
	text-align: center;
	position: relative
}

.exit_popup_personalizado .wrap-popup .carrousel-popup-personalizado .owl-nav i {
	font-size: 45px;
	color: #d50808
}

.exit_popup_personalizado .wrap-popup .carrousel-popup-personalizado .owl-nav .owl-prev {
	left: -15px
}

.exit_popup_personalizado .wrap-popup .carrousel-popup-personalizado .owl-nav .owl-next {
	right: -15px
}

.exit_popup_personalizado .wrap-popup .carrousel-popup-personalizado .owl-nav>div {
	position: relative;
	cursor: pointer
}

.exit_popup_personalizado .wrap-popup .carrousel-popup-personalizado .listagem-item .desconto-a-vista strong {
	margin: 0
}
.exit_popup_personalizado .wrap-popup .carrousel-popup-personalizado .listagem-item .imagem-produto {
    height: 180px;
}
.exit_popup_personalizado a.nome-produto.cor-secundaria {
	margin-top: 15px!important;
	font-family: Roboto;
	text-transform: uppercase;
	font-weight: 900;
	font-size: 12px;
	line-height: 15px;
	width: 100%!important;
	text-decoration: none;
	height: 45px!important;
	display: -webkit-box!important;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: normal;
	-webkit-line-clamp: 3
}

.exit_popup_personalizado span.preco-parcela strong {
	color: #d74d4e
}

.exit_popup_personalizado .desconto-a-vista {
	width: 295px;
	font-size: 0
}

.exit_popup_personalizado span.preco-parcela {
	font-size: 12px!important;
	margin: 0;
	line-height: 18px
}

.exit_popup_personalizado .desconto-a-vista strong:after {
	content: "no boleto";
	font-size: 12px;
	color: #ff8600;
	margin-left: 5px
}

.exit_popup_personalizado .listagem-item .desconto-a-vista strong {
	padding-bottom: 5px!important;
	margin-top: 0!important;
	margin-bottom: 0!important
}

.exit_popup_personalizado .desconto-a-vista strong {
	margin-top: 15px;
	margin-bottom: 30px;
	display: inline-block;
	font-family: 'Open Sans';
	font-weight: 900;
	font-size: 21px;
	color: #ff8600;
	letter-spacing: -1px
}

.exit_popup_personalizado .listagem-item .desconto-a-vista strong:before {
	content: "";
	background: url(https://cdn.awsli.com.br/257/257163/arquivos/sprite_default_ilm-CMKY-tree-min.png) -1406px -1155px;
	display: inherit;
	margin-right: 7px!important;
	width: 28px;
	height: 24px;
	top: 6px;
	position: relative
}

.exit_popup_personalizado .listagem-item:hover .produto-sobrepor:after {
	transform: translateY(-98px)
}

@media (max-width:767px) {
	.exit_popup_personalizado {
		display: none!important
	}
}